{% extends 'base.html' %} 
{% block content %} 

{% if user.is_authenticated %} 
    <p>Hi {{ user.username }}!
      <div class="nav-left">
        <h4><a href="{% url 'blog:post_new'  %}">+ New Blog Post</a></h4>
      </div>
{% for post in object_list %}
<div class="container ">
  
<div class="post-entry">
  <h2><a href="{% url 'blog:post_detail' post.pk %}">{{ post.title}}</a></h2>
  <p>{{post.body}}</p>
</div>

</div>
{% endfor %}


{% else %}
  <p>No Blogs Available</p>
  {% endif %}

 {% endblock content %}
